/*
 * Tweaks and overrides to hyde.css
 */

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2.5rem;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

.postAgeWarning {
    display: block;
    border-style: none double none double;
    border-color: red;
    padding: 1em;
    margin-bottom: 2em;
}

.comment-info,
.post-snippet {
  display: block;
  margin-top: .5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.social-media-icon {
    display: inline;
}
