<div class="sidebar">
  <!-- <div class="container">
        <a href="/"><img src="{{ "blog_image.jpg" | absURL }}" /></a>
  </div> -->
  <div class="container">
    <div class="sidebar-about">
      <h1>{{ .Site.Params.tagline }}</h1>
    </div>

    <ul class="sidebar-nav">
    Inhalte:
      <li class="sidebar-nav-item"><a href="{{ "/" | absURL }}">{{ if isset .Site.Params "home"}}{{ .Site.Params.home }}{{ else }}Blog{{ end }}</a></li>
      {{ range .Site.Menus.main }}
      <li class="sidebar-nav-item">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{end}}
    </ul>
  </div>
  <div class="container sidebar-sticky">
    Links:
    <p class="sidebar-nav">
        <a href="https://github.com/vlcty" target="_blank">
            <img class="social-media-icon" src="{{ "GitHub-Mark-Light-64px.png" | absURL }}" />
        </a>
        <a href="https://twitter.com/DerVeloc1ty" target="_blank">
            <img class="social-media-icon" src="{{ "twitter_social_icon_circle_white.png" | absURL }}" />
        </a>
    </p>

    {{ partial "footer.html" . }}
  </div>
</div>
