<div class="sidebar">
  <div class="container">
        <img src="{{ "blog_image.jpg" | absURL }}" />
  </div>
  <div class="container">
    <div class="sidebar-about">
      <h1>{{ .Site.Params.tagline }}</h1>
    </div>

    <ul class="sidebar-nav">
    Menu:
      <li class="sidebar-nav-item"><a href="{{ "/" | absURL }}">{{ if isset .Site.Params "home"}}{{ .Site.Params.home }}{{ else }}Blog{{ end }}</a></li>
      {{ range .Site.Menus.main }}
      <li class="sidebar-nav-item">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{end}}
    </ul>
  </div>
  <div class="container sidebar-sticky">
    Links:
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
      {{ with .Site.Params.github }}<a href="{{ . }}" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>{{ end }}
      {{ with .Site.Params.twitter }}<a href="{{ . }}" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>{{ end }}
      {{ if .Site.Params.rss }}<a href="{{ "/index.xml" | absURL }}" target="_blank" type="application/rss+xml"><i class="fa fa-rss-square fa-3x"></i></a>{{ end }}
      </li>
    </ul>

    {{ partial "footer.html" . }}
  </div>
</div>
